

/* 1. RESET DEFAULTS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }






/* Heading */
h1 {  
    margin-top: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #333
    }

    /* Aside */
    aside { 
        text-align: center;
        margin: 20px auto; 
        color: red;
        }

/* Heading */
h2 { 
text-align: center;
margin-bottom: 15px;
    }
/* Form */

form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto; 
    max-width: 600px;
    border-radius: 8px;
    }
/* Paragraph */
p {
    font-size: 14px;
    color: #666;
    }

    /* Navigation Bar */
    nav {
        text-align: center; /* Center nav links */
        margin: 15px 0 ;
        }

    /* Footer */
    footer {
        text-align: center; /* Centers footer text */
        margin-top: 20px; 
        }

        /* -- 2.2 Class selectors -- */

    /* Targets the <section> element with class="form-section"*/
    .form-section {
        background-color: #ffffff;
        margin: 20px auto;
        padding: 15px;
        border-radius: 6px;
        width: 80%;
         }

    /* -- 2.3 ID Selectors */

    /* Targets the main title (h1) */
    #main-title {
        color: #004080
        margin-bottom: 20px;
    }

    /* -- 2.4 Multiple Class Selectors -- */

    /* .green.bold targets "Laurea Media" (h2)*/
    .green.bold {
        color: green;
        font-weight: bold;
     }

     /* -- 2.5 Attribute Selectors -- */

    input[type="text"] {
    border: 1px solid #ccc;
    margin: 1px 5px 1px 5px;  /* margin shorthand */
    padding: 5px 10px 5px 10px; /* padding shorthand */
}

input[type="password"] {
    border: 1px solid #ccc;
    margin: 1px 5px 1px 5px; /* margin shorthand*/
    padding: 5px 10px 5px 10px; /* padding shorthand */
}   

img[src*="laurea-vaakalogo_rgb"] {
    border: 1px solid #004080;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

 /* -- 2.6 Descendant Combinators -- */

 /* Targets labels (Label is descendant of form element) */
 form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

  /* Targets the list box (descendant of <section> element) found below the <h2> element "Laurea Media" */
  section .main-list {
    list-style-type: square;
    backround-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    margin: 20px auto;
    max-width: 400px;
   } 

   /* Targets the list items (descendants of <section> element) found below the <h2> element */
   .main-list li {
    margin-left: 20px;
    color: #444;
    padding: 5px 0; 
     } 

     /* -- 2.7 Multiple selectors -- */

/* Contains two type selectors and one class selector */ 
h1, h2, .menu { /* Class ".menu" targets the navbar or <nav> element */
 color: #222;
 font-family: Verdana, sans-serif;
 } 

 /* -- 2.8 Chaining -- */ 

 /* h1 is type selector chained with class ".title" together */
 h1.title { 
    text-transform: uppercase;
    letter-spacing: 2px; 
 } 
 /* -- 2.9 Pseudo-classes ---- */ 
/* Base state (transition must be here) */
.Laurea {
    transition: all 0.3s ease;
}
/* Hover enlarges */
.Laurea:hover {
    opacity: 0.6;
    transform: scale(1.4);
}
/* Click shrinks */
.Laurea:active {
    transform: scale(0.1);
}

/* Visiting the "Laurea Media" link above "Student Assistant Job Application" */
.visit-laureamedia: visited {
    color: red; /* visited links change to to red colour */
  }
  
  input: focus {
  border-color: #004080;
  outline: none;
  background-color: #eef6ff;
  }

  input: disabled {
    background-color: #eee;
    color: #999;

    }

    /* =========== 3. VISUAL RULES =========== */

    /* Visual rules applied to body element (visible content on webpage). Notice example of !important! */
    body {
        background-color: #fafafa;
        color: #333;
        opacity: 0.98;
        background-image: none !important; /* Example 1 */
       
    
    }

    /* =========== 3. THE BOX MODEL =========== */

    /* Targets <textarea> element (Motivation Letter) */
    textarea {
        width: 100%;
        min-width: 100px;
        min-height: 120px;
        max-height: 300px;
        padding: 10px;
        border: 1px solid #bbb;
        border-radius: 4px;
        overflow: auto;
        }

 /* Demonstrates individual margin and padding properties (longhand syntax) 
 instead of shorthand like: margin: 20px; padding: 20px;
 Target: <blockquote>
 */
 #quote {
    /* Margin (outer spacing) on all four sides */
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    /* padding (inner spacing) on all four sides */
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    }










/* CSS styling targets action button or input named "Send Application". Styling applied WITHIN the element */
input[type="submit"] {
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* CSS styling targets action button or input named "Send Application". Styling applied ONLY WHEN hovering */
input[type="submit"]:hover {
    background-color: lightcoral;
    transform: scale(1.2); /* enlarges on hover */
    transition: all 0.3s ease; /* smooth animation */
}













        












